# Скрытые файлы и конфиденциальные данные
.env

# Папки с загруженными файлами
media/

# Статические файлы, собранные для продакшена
staticfiles/

# Локальная база данных
*.sqlite3
*.db

# Виртуальное окружение
venv/
env/

# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и временные файлы
*.log
*.tmp

# Локальные настройки
*.local

# IDE и редакторы
.idea/
.vscode/
*.swp